h1{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
    font-size: 60px;

   
}

h3{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
    font-size: 48px;

}

body{
    background-image: url(thimo-pedersen-dip9IIwUK6w-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: contain;

    
    
    
    

}
img{
    border-radius: 50px;
    width: 200px;
    
}

p{
    
    box-shadow: 5px 10px;
}
