body {
    font-family: 'Times New Roman', Times, serif;
    font-;
    padding: 10 10 10 10;
    background-image: url(thimo-pedersen-dip9IIwUK6w-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 740%
    
}
